@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

body {
    font-family: 'Heebo', sans-serif;
}

body.lock {
   overflow: hidden;
}

.container {
   max-width: 1500px;
   margin: 0 auto;
   padding: 0 15px;
}

.menu__icon {
   display: none;
}

.header a{
   color: #000
}
.header__container {
   padding: 27px 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   z-index: 5;
}

.header__logo:hover {
   opacity: 0.7;
}

.header__logo span {
   font-weight: 500;
   font-size: 24px;
   line-height: 100%;
   letter-spacing: 0px;
}


.header__nav-list {
   display: flex;
   gap: 35px;
}

.header__nav-link {
   font-weight: 500;
   font-size: 20px;
   transition: color 0.3s ease;
   -webkit-transition: color 0.3s ease;
   -moz-transition: color 0.3s ease;
   -ms-transition: color 0.3s ease;
   -o-transition: color 0.3s ease;
}

.header__nav-link:hover {
   color: #FF6464;
}

@media screen and (max-width: 768px) {
   .header__container {
       padding: 20px 40px;
   }

   .header__nav-list {
       gap: 25px;
   }
   .header__nav-list a {
      color: #fff;
      display: block;
      width: 100%;
   }
   .menu__icon {
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
   }
   .menu__icon::before, .menu__icon::after, .menu__icon span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000000;
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
   }
   .menu__icon::before, .menu__icon::after {
      content: '';
   }
   .menu__icon::before {
      top: 0;
   }
   .menu__icon::after {
      bottom: 0;
   }
   .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
      -webkit-transform: scale(1) translate(0px, -50%);
      -moz-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
      -o-transform: scale(1) translate(0px, -50%);
   }

   .menu__icon.active span {
      transform: scale(0) translate(0px, -50%);
      -webkit-transform: scale(0) translate(0px, -50%);
      -moz-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
      -o-transform: scale(0) translate(0px, -50%);
   }
   .menu__icon.active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
      -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -moz-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
      -o-transform: rotate(-45deg) translate(0px, -50%);
   }
   .menu__icon.active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
      -webkit-transform: rotate(45deg) translate(0px, 50%);
      -moz-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
      -o-transform: rotate(45deg) translate(0px, 50%);
   }

   .header__nav {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 95px 40px 40px 40px;
      transition: left 0.3s ease 0s;
      -webkit-transition: left 0.3s ease 0s;
      -moz-transition: left 0.3s ease 0s;
      -ms-transition: left 0.3s ease 0s;
      -o-transition: left 0.3s ease 0s;
      overflow: auto;
   }
   .header__nav.active {
      left: 0;
   }
   .header__nav::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 65px;
      background-color: #fff;
      z-index: 2;
   }
   .header__nav-list {
      flex-direction: column;
      gap: 30px;
   }
   .header__nav-link {
      font-size: 24px;
   }
}

/* ----------------------------------------------------------------------------------- */

.main {
}
.main__hero {
   padding: 140px 0 70px 0;
}
.hero__content {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.hero__text {
   width: 50%;
   display: flex;
   flex-direction: column;
   gap: 40px;
   align-items: flex-start;
}
.hero__title {
   font-weight: 700;
   font-size: 44px;
   line-height: 60px;
   letter-spacing: 0px;
   color: #21243D;
}
.hero__paragraph {
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0px;
   color: #21243D;
}
.hero__download-btn {
   background-color: #FF6464;
   padding: 16px 20px;
   color: #fff;
   border-radius: 4px;
   font-weight: 500;
   font-size: 20px;
}

.hero__img {
}

@media screen and (max-width: 768px) {
   .main__hero {
      padding: 34px 40px 58px 40px;
   }
   .hero__content {
       flex-direction: column-reverse;
       gap: 34px;
   }
   .hero__text {
       width: 100%;
       align-items: center;
       text-align: center;
       gap: 21px;
   }
   .hero__title {
      font-size: 38px;
      line-height: 40px;
      text-align: center;
   }
   .hero__download-btn {
      margin-top: 6px;
   }
}

@media screen and (max-width: 480px) {
   .hero__title {
      font-size: 32px;
      line-height: 36px;
   }
   .hero__img img {
      width: 170px;
   }
}